In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ser1 = Series([1, 2, 3], index=['a', 'b', 'c'])
ser1

a    1
b    2
c    3
dtype: int64

In [3]:
ser2 = Series([4, 5, 6,7], index=['a', 'b', 'c','d'])
ser2

a    4
b    5
c    6
d    7
dtype: int64

In [4]:
ser1 + ser2

a    5.0
b    7.0
c    9.0
d    NaN
dtype: float64

In [5]:
dframe1 = DataFrame(np.arange(4).reshape(2,2), index=['mlg', 'bt'], columns=list('AB'))
dframe1

     A  B
mlg  0  1
bt   2  3

In [6]:
dframe2 = DataFrame(np.arange(9).reshape((3,3)), index=['mlg','bt','sby'], columns=list('ABC'))
dframe2

     A  B  C
mlg  0  1  2
bt   3  4  5
sby  6  7  8

In [7]:
dframe1 + dframe2

       A    B   C
bt   5.0  7.0 NaN
mlg  0.0  2.0 NaN
sby  NaN  NaN NaN

In [8]:
dframe1.add(dframe2, fill_value=0)

       A    B    C
bt   5.0  7.0  5.0
mlg  0.0  2.0  2.0
sby  6.0  7.0  8.0