In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [3]:
# Read in the data
# caranya blok dulu baru klik kanan -> copy(tidak perlu dipaste)
nfl_frame = pd.read_clipboard()
nfl_frame

   Rank               Team     GP  Won  Lost  Tied   Pct.  Season   Division
0     1  Green Bay Packers  1,386  770   578    38  0.569    1921  NFC North
1     2     Dallas Cowboys    932  527   399     6  0.569    1960   NFC East
2     3   Baltimore Ravens    402  226   175     1  0.563    1996  AFC North
3     4      Chicago Bears  1,420  778   600    42  0.563    1920  NFC North

In [4]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'Season',
       'Division'],
      dtype='object')

In [6]:
nfl_frame['Team']

0    Green Bay Packers
1       Dallas Cowboys
2     Baltimore Ravens
3        Chicago Bears
Name: Team, dtype: object

In [8]:
DataFrame(nfl_frame, columns=['Team', 'Season', 'Division'])

                Team  Season   Division
0  Green Bay Packers    1921  NFC North
1     Dallas Cowboys    1960   NFC East
2   Baltimore Ravens    1996  AFC North
3      Chicago Bears    1920  NFC North

In [10]:
# nfl_frame.head()
nfl_frame.head(2)

   Rank               Team     GP  Won  Lost  Tied   Pct.  Season   Division
0     1  Green Bay Packers  1,386  770   578    38  0.569    1921  NFC North
1     2     Dallas Cowboys    932  527   399     6  0.569    1960   NFC East

In [12]:
#menampilkan data terakhir
nfl_frame.tail(2)

   Rank              Team     GP  Won  Lost  Tied   Pct.  Season   Division
2     3  Baltimore Ravens    402  226   175     1  0.563    1996  AFC North
3     4     Chicago Bears  1,420  778   600    42  0.563    1920  NFC North

In [17]:
nfl_frame.index[2]

2

In [ ]:
#delete column
del nfl_frame['Lost']

In [20]:
nfl_frame

   Rank               Team     GP  Won  Tied   Pct.  Season   Division
0     1  Green Bay Packers  1,386  770    38  0.569    1921  NFC North
1     2     Dallas Cowboys    932  527     6  0.569    1960   NFC East
2     3   Baltimore Ravens    402  226     1  0.563    1996  AFC North
3     4      Chicago Bears  1,420  778    42  0.563    1920  NFC North

In [24]:
data = {'kota': ['Jakarta', 'Bandung', 'Malang', 'denpasar'],'Provinsi': ['Jakarta', 'Jawa Barat', 'Jawa Timur', 'Bali']}

In [25]:
kota_frame = DataFrame(data)

In [26]:
kota_frame

       kota    Provinsi
0   Jakarta     Jakarta
1   Bandung  Jawa Barat
2    Malang  Jawa Timur
3  denpasar        Bali