In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
ser = Series(np.arange(3), index=['a', 'b', 'c'])
ser

a    0
b    1
c    2
dtype: int64

In [4]:
ser.drop('b')

a    0
c    2
dtype: int64

In [6]:
dframe = DataFrame(np.arange(9).reshape((3,3)),index=['a', 'b', 'c'], columns=['one', 'two', 'three'])
dframe

   one  two  three
a    0    1      2
b    3    4      5
c    6    7      8

In [7]:
dframe.drop('a')

   one  two  three
b    3    4      5
c    6    7      8

In [8]:
dframe.drop('three', axis=1)

   one  two
a    0    1
b    3    4
c    6    7