In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser = Series([1,2,3], index=['a','b','c'])
ser

a    1
b    2
c    3
dtype: int64

In [3]:
ser1 = ser.reindex(['a','b','c','d','e'])
ser1

a    1.0
b    2.0
c    3.0
d    NaN
e    NaN
dtype: float64

In [5]:
ser1.reindex(['a','b','c','d','e','f'], fill_value=0)

a    1.0
b    2.0
c    3.0
d    NaN
e    NaN
f    0.0
dtype: float64

In [6]:
ser2 = Series(['Malang','Jakarta','Bandung'], index=[0,5,10])
ser2

0      Malang
5     Jakarta
10    Bandung
dtype: object

In [8]:
ranger = range(10)
ranger

range(0, 10)

In [10]:
ser2.reindex(ranger,method='ffill')

0     Malang
1     Malang
2     Malang
3     Malang
4     Malang
5    Jakarta
6    Jakarta
7    Jakarta
8    Jakarta
9    Jakarta
dtype: object

In [11]:
dframe = DataFrame(randn(25).reshape(5,5),index=['a','b','c','d','e'],columns=['colA','colB','colC','colD','colE'])
dframe

       colA      colB      colC      colD      colE
a  1.351423  0.213913 -0.142689  0.383157 -0.377100
b  0.884316 -1.599569  0.284798 -0.283311  0.986762
c -0.420411 -1.381533 -1.757554  0.444772  0.755333
d -0.300555  0.940328 -2.704968 -0.387090 -2.296522
e -0.992522  0.434188  0.026099  0.653107  0.087570

In [12]:
dframe2 = dframe.reindex(['a','b','c','d','e','f'])
dframe2

       colA      colB      colC      colD      colE
a  1.351423  0.213913 -0.142689  0.383157 -0.377100
b  0.884316 -1.599569  0.284798 -0.283311  0.986762
c -0.420411 -1.381533 -1.757554  0.444772  0.755333
d -0.300555  0.940328 -2.704968 -0.387090 -2.296522
e -0.992522  0.434188  0.026099  0.653107  0.087570
f       NaN       NaN       NaN       NaN       NaN

In [13]:
new_columns = ['colA','colB','colC','colD','colE','colF']

In [14]:
dframe2.reindex(columns=new_columns)

       colA      colB      colC      colD      colE  colF
a  1.351423  0.213913 -0.142689  0.383157 -0.377100   NaN
b  0.884316 -1.599569  0.284798 -0.283311  0.986762   NaN
c -0.420411 -1.381533 -1.757554  0.444772  0.755333   NaN
d -0.300555  0.940328 -2.704968 -0.387090 -2.296522   NaN
e -0.992522  0.434188  0.026099  0.653107  0.087570   NaN
f       NaN       NaN       NaN       NaN       NaN   NaN