In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
obj.values

array([ 4,  7, -5,  3])

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
umur_teman = Series([20, 21, 22, 23], index=['Teman1', 'Teman2', 'Teman3', 'Teman4'])
umur_teman

Teman1    20
Teman2    21
Teman3    22
Teman4    23
dtype: int64

In [25]:
#menampilkan data pada index tertentu
umur_teman['Teman2']

21

In [26]:
#menampilkan data dengan kondisi tertentu
umur_teman[umur_teman < 22]

Teman1    20
Teman2    21
dtype: int64

In [27]:
'Teman1' in umur_teman

True

In [28]:
#convert series ke dictionary
umur_teman_dict = umur_teman.to_dict()
umur_teman_dict

{'Teman1': 20, 'Teman2': 21, 'Teman3': 22, 'Teman4': 23}

In [29]:
#convert dictionary ke series
umur_teman_series = Series(umur_teman_dict)
umur_teman_series

Teman1    20
Teman2    21
Teman3    22
Teman4    23
dtype: int64

In [30]:
nama_teman = ['xian', 'yun', 'zhi', 'jie']
obj1 = Series(umur_teman_dict, index=nama_teman)
obj1

xian   NaN
yun    NaN
zhi    NaN
jie    NaN
dtype: float64

In [35]:
pd.isnull(obj1)

xian    True
yun     True
zhi     True
jie     True
dtype: bool

In [37]:
pd.isnull(obj)

0    False
1    False
2    False
3    False
dtype: bool

In [36]:
pd.notnull(obj1)

xian    False
yun     False
zhi     False
jie     False
dtype: bool

In [38]:
pd.notnull(obj)

0    True
1    True
2    True
3    True
dtype: bool

In [40]:
umur_teman.name = 'Data Umur'
umur_teman

Teman1    20
Teman2    21
Teman3    22
Teman4    23
Name: Data Umur, dtype: int64

In [41]:
umur_teman.index.name = 'Nama Teman'
umur_teman

Nama Teman
Teman1    20
Teman2    21
Teman3    22
Teman4    23
Name: Data Umur, dtype: int64